<!DOCTYPE html>
<html>
<head>

<style>
body {
  background-color: lightblue;
  font-weight: bold;
  font-size: 120%;
  margin-left : 10%;
  
}

.logo{

	text-align: center;
    background-color: white;
	border:8px; 
	border-style:solid; 
	padding: 20px;
	border-radius: 25px;

}

.normal {

	font-size: 150%;
	
	}

.lefter {

	font-size: 75%;
	margin-left : 20px;
	
}

.logo{

	text-align: center;
    background-color: white;
	border:8px; 
	border-style:solid; 
	padding: 20px;
	border-radius: 25px;

}

</style>
</head>

<body>

	
<ol>
	<li><a href="#thanks">Thanks</a></li>
  <li><a href="#why">Why this site ?</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#privacy">Privacy</a></li> 
  <li><a href="#license">License</a></li> 
</ol>

<br>

<h2><a id="thanks"></a><u>Thanks</u></h2>
Thanks to Twitter
<p>
 
</p>

<br>

<h2><a id="why"></a><u>Why this site ?</u></h2>
<p>

I have made the website I wish existed when I started learning Japanese. 
</p>

<br>

<h2><a id="contact"></a><u>Contact</u></h2>
<p>
<a href="https://old.reddit.com/user/remarkablemusician9/">Click here to contact me on Reddit</ruby></a>
</p>

<br>

<h2><a id="privacy"></a><u>Privacy</u></h2> 
 

Apart from the logs of the hosting platform this website does not collect any browsing data.
</p>

<br>
<h2><a id="license"></a><u>License</u></h2> 

<p>
Everything on this website is published under the following license. <br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
</a><br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</p>



</body>