<!DOCTYPE html>
<html>
<head>

<!--https://nipponcolors.com/#ichigo-->

<style>
body {
  background-color: lightblue;
  font-weight: bold;
  font-size: 120%;
  margin-left : 10%;
  
}

.logo{

	text-align: center;
    background-color: white;
	border:8px; 
	border-style:solid; 
	padding: 20px;
	border-radius: 25px;

}

.normal {

	font-size: 150%;
	
	}

.lefter {

	font-size: 75%;
	margin-left : 20px;
	
}

.logo{

	text-align: center;
    background-color: white;
	border:8px; 
	border-style:solid; 
	padding: 20px;
	border-radius: 25px;

}

</style>
</head>

<body>

	
<ol>
	<li><a href="#thanks">Thanks</a></li>
  <li><a href="#why">Why this site ?</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#privacy">Privacy</a></li> 
  <li><a href="#license">License</a></li>
  <li><a href="#love">What people said about this project</a></li> 
</ol>

<br>


<h2><a id="thanks"></a><u>Thanks</u></h2>
<p>
Thanks to Twitter for sharing its emoji font.<br>
Something I learnt doing this project is that emojis are specific to Operating systems.<br>
Not all of them have all the emojis available. Different Operating systems also means different user experience.<br>
<a href = "https://github.com/twitter/twemoji">This is the Twemoji github repo.</a> 
</p>

<br>

<h2><a id="why"></a><u>Why this site ?</u></h2>
<p>

I have made the website I wish existed when I started learning Japanese. <br>
Every learner has its favorite method. Mine is massive input and massive fun. I have tried Spaced Repetition Systems but found them boring and I have some doubt about their efficiency outisde the psychological research lab.<br>
I found one of the main drawback of these systems to be their lack of speed. By the time you review 10 words in you favourite SRS you could have read 10 full sentences that exposes your brain to both vocab and grammar.<br>
I earn a living analyzing data and am pretty familiar with machine learning. <br>
What we call machine learning consists of optimizing some very simple function by showing it a ton of data. It turns out that these function are able to find patterns fairly efficiently. I believe the human brain is able to do the same.

</p>

<br>

<h2><a id="contact"></a><u>Contact</u></h2>
<p>
<!-- <a href="https://old.reddit.com/user/remarkablemusician9/">Click here to contact me on Reddit</ruby></a>-->
You can contact me on Github by making a pull request to the <a href="https://github.com/DrDru/emoquizz">repo</a>
<br>
I am passively searching for someone crazy enough to help me with this project. If you are interested to contribute do not hesitate to let me know.
</p>

<br>

<h2><a id="privacy"></a><u>Privacy</u></h2> 
 

Apart from the logs of the hosting platform this website does not collect any browsing data.
</p>

<br>
<h2><a id="license"></a><u>License</u></h2> 

<p>
Everything on this website is published under the following license. <br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
</a><br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</p>

<h2><a id="love"></a><u>What people said about this project</u></h2>
<p>I share this project on reddit/r/learnJapanase from time to time and some user have let me very nice comment which are a great source of motivation : 
<br>
<br>
- Dude, that website great. It's way more fun for a beginner to learn Japanese with those easy examples. It has some errors though. You need to collaborate with somebody who knows the language better (preferably a native). I hope you'll keep updating it.
頑張ってください！[/u/T0mmy_]
<br>
<br>
- Keep at it. From what I've seen, it's brilliant. [/u/RoundCat]
<br>
<br>
- "Love it. This is exactly the type of content I've always wished for. Makes language learning easy, fun, and streamlined and gets you reading and enjoying content ASAP. Only change I'd make is to make an actual story out of it." "This sort of thing is what I always dreamed about. When I took my Japanese class oh so many years ago, it was the typical stuff, and then at the end I'm like "okay time to read some japanese" and of course that was a joke because I couldn't manage to read anything not even little kid stories." [<a href="https://old.reddit.com/r/LearnJapanese/comments/e1b0n3/hi_i_want_to_learn_vocabulary_and_grammar_like_a/">Kafke</a>] 
<br>
<br>
- Man this is seriously high effort, thanks for the hard work!
Do you plan on making more of these? [/u/Froggyfrogger]
</p>

</body>