<!DOCTYPE html>
<html>
<head>

<style>
body {
  background-color: lightblue;
  font-weight: bold;
  font-size: 180%;
  margin-left : 10%;
  margin-right : 10%;
  
}

a {
	
	color: black;
	

}

.logo{

	text-align: center;
    background-color: white;
	border:8px; 
	border-style:solid; 
	padding: 20px;
	border-radius: 25px;

}

.normal {

	font-size: 75%;
	
	}

.lefter {

	font-size: 75%;
	margin-left : 20px;
	
}


</style>
</head>

<body>

<div class="layout_main">

<ul>
<li>キム<span class="particle">と</span>チャック</li>
<ol>
  <li><a href="./1/1_food.html"><ruby>食<rt>た</rt></ruby>べ<ruby>物<rt>もの</rt></ruby></a></li>
  <li><a href="./1/2_all_about_cats.html"><ruby>猫<rt> ねこ</rt></ruby> <ruby>猫<rt>ねこ</rt></ruby> <ruby>猫<rt> ねこ</rt></ruby></a></li> 
  <li><a href="./1/3_questions.html"><ruby>質<rt>しつ</rt></ruby><ruby>問<rt>もん</rt></ruby></a></li>
  <li><a href="./1/4_love.html"><ruby>愛<rt>あい</rt></ruby></a></li>
  <li><a href="./1/5_animate.html"><ruby>物<rt>もの</rt></ruby></a></li>
  <li><a href="./1/6_gift.html"><ruby>贈<rt>おく</rt></ruby>り<ruby>物<rt>もの</rt></ruby></a></li>
  <li><a href="./1/images.html">中つ国</a></li>
  <li><a href="./1/7_kim_and_chuck.html">キム<span class="particle">と</span>チャック</a></li>
</ol>
<li><ruby>動物<rt>どうぶつ</rt></ruby>のコンサート</li>
<ol>
  <li><a href="./2/1_shopping.html"><ruby>買<rt>か</rt></ruby>い<ruby>物<rt>もの</rt></ruby></a></li>
  <li><a href="./2/2_countries.html"><ruby>国<rt>くに</rt></ruby></a></li>
  <li><a href="./2/3_fuite.html"><ruby>逃<rt>に</rt></ruby>げる</a></li>
  <li><a href="./2/4_drive.html"><ruby>乗<rt>の</rt></ruby>り<ruby>物<rt>もの</rt></ruby></a></li>
  <li><a href="./2/5_sight.html"><ruby>目<rt>め</rt></ruby></a></li>
  <li><a href="./2/6_negations.html"><ruby>否<rt>ひ</rt></ruby><ruby>定<rt>てい</rt></ruby></a></li>
  <li><a href="./2/7_on_the_way.html"><ruby>途 <rt>と</rt></ruby><ruby>中<rt>ちゅう</rt></ruby></a></li>
  <li><a href="./2/8_fuite2.html"><ruby>逃<rt>に</rt></ruby>げる2</a></li>
  <li><a href="./2/9_surprise.html"><ruby>驚<rt>おど</rt></ruby>き</a></li>
  <li><a href="./2/10_lady_gaga.html">レディー・ガガ</a></li>
  <li><a href="./2/11_together.html"><ruby>一緒<rt>いっしょ</rt></ruby></a></li>
  <li><a href="./2/12_moria.html">モリア</a></li>
  <li><a href="./2/13_desire.html"><ruby>願<rt>ねが</rt></ruby>い</a></li>
  <li><a href="./2/14_beattles.html">ビートルズ</a></li>
  <li><a href="./2/15_hamelin.html">ハーメルン</a></li>
  <li><a href="./2/16_rondon.html">ロンドン</a></li>
  <li><a href="./2/17_marseille.html">マルセイユ</a></li>
  <li><a href="./2/18_gabon.html">ガボン</a></li>
  <li><a href="./2/19_animal_concert.html"><ruby>動物<rt>どうぶつ</rt></ruby>のコンサート</a></li>
  
</ol>
</div>

</body>