<!DOCTYPE html>
<html>
<head>

<style>
body {
  background-color: lightblue;
  font-weight: bold;
  font-size: 180%;
  margin-left : 10%;
  margin-right : 10%;
  
}

a {
	
	color: black;
	

}

.logo{

	text-align: center;
    background-color: white;
	border:8px; 
	border-style:solid; 
	padding: 20px;
	border-radius: 25px;

}

.normal {

	font-size: 75%;
	
	}

.lefter {

	font-size: 75%;
	margin-left : 20px;
	
}


</style>
</head>

<body>
<p>
<br>
<a href="https://old.reddit.com/user/remarkablemusician9/">Click here to contact me on Reddit</ruby></a>


</p>
</body>