<!DOCTYPE html>
<html>
<head>

<style>
body {
  background-color: lightblue;
}

a {
	
	color: black;
	text-decoration: none;

}


.onomatopea {

    font-weight: normal;
	font-style: italic;
	
}

.next{

	text-align: right;
	margin-right : 10%;
	font-size: 130%;
	
}


.centered_bold {

	text-align: center;
	font-weight: bold;

}

.big {

   font-size: 350%;

}

.ookii {

   font-size: 210%;

}

.full_screen {

   font-size: 270%; 
   
}

.lefter {

font-size: 75%;

}

.big_card {

	font-size: 400%;	
}

.whiter {

    background-color: white;
	
}

.card{

   margin-bottom: 170px;
 
 }


.chiisai{

   font-size: 50%;
 
 } 

  
div.square {
  
  width: 80px;
  height: 80px;
  background-color:red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.particle {

	font-weight: normal;

}

.black_background {

	background-color:black;
	padding-left: 10px;
	padding-right: 10px;

}

#gram {

	padding-top: 40px;

}

#kilogram {

	padding-top: 70px;

}

#ton{

	padding-top: 100px;

}

.white {

	color: white;
	
}

.black {

	color: black;
	
}

</style>
</head>

<body class="centered_bold">

<br>
<span class="full_screen"><a href="./dictionnary/aka.html"><ruby>赤<rt>あか</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/banana.html">バナナ</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/taberu.html"><ruby>食<rt>た</rt>べる</ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/saru.html"><ruby>猿<rt>さる</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/iu.html"><ruby>言<rt>い</rt></ruby>う</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/hai.html">はい</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/iie.html">いいえ</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/kaeru.html">かえる</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/ookii.html"><ruby>大<rt>おお</rt></ruby>きい</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/capu.html">カップ</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/cohi.html">コーヒー</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/cowai.html"><ruby>怖<rt>こわ</rt></ruby>い</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/santa.html">サンタ</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/tanoshii.html"><ruby>楽<rt>たの</rt></ruby>しい</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/chizu.html">チーズ</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/chiisai.html"><ruby>小<rt>ちい</rt>さい</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/chiisai.html"><ruby>強<rt>つよ</rt></ruby>い</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/tiranosaurus.html">ティラノサウルス</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/neko.html"><ruby>猫<rt> ねこ</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/nezumi.html">ねずみ</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/watashi.html"><ruby>私<rt>わたし</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/nomu.html"><ruby>飲<rt>の</rt></ruby>む</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/wine.html">ワイン</a></span>
<br>	
<span class="full_screen"><a href="./dictionnary/hiki.html"><ruby>匹<rt>ひき</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/banana.html"><ruby>バナナ</ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/biru.html"><ruby>ビール</ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/kapu.html"><ruby>カップ</ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/keki.html"><ruby>ケーキ</ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/kapukeki.html"><ruby>カップケーキ</ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/chocoreto.html"><ruby>チョコレート</ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/suki.html"><ruby>好<rt>す</rt></ruby><ruby>き<rt></rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/daisuki.html"><ruby>大<rt>だい</rt></ruby><ruby>好<rt>す</rt></ruby>き</ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/mono.html"><ruby>物<rt>もの</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/tabemono.html"><ruby>食<rt>た</rt></ruby>べ<ruby>物<rt>もの</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/nomimono.html"><ruby>飲<rt>の</rt></ruby>み<ruby>物<rt>もの</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/hito.html"><ruby>人<rt>ひと</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/omoi.html"><ruby>重い<rt>おも</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/doubutsu.html"><ruby>動物<rt>どうぶつ</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/dou.html"><ruby>動<rt>どう</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/ki.html"><ruby>木<rt>き</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/mori.html"><ruby>森<rt><ruby>もり</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/christmas_tree.html">クリスマスツリー </a></span>
<br>
<span class="full_screen"><a href="./dictionnary/presento.html">プレゼント</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/ue.html"><ruby>上<rt>うえ</rt></ruby> </a></span>
<br>
<span class="full_screen"><a href="./dictionnary/hidari.html"><ruby>左<rt>ひだり</rt></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/migi.html"><ruby>右<rt>みぎ</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/shita.html"><ruby>下<rt>した</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/aku.html"><ruby>閉<rt>あ</rt></ruby>く </a></span>
<br>
<span class="full_screen"><a href="./dictionnary/shimeru.html"><ruby>開<rt>し</rt></ruby>める</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/kekon.html"><ruby>結婚<rt>けっこん</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/ninby.html"><ruby>妊娠<rt>にんぷ</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/oishii.html">おいしい</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/doru.html">ドル</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/kau.html"><ruby>買<rt>か</rt></ruby>う</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/boru.html">ボール</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/en.html"><ruby>円<rt>えん</rt></ruby></a></span>
<br>
<span class="full_screen"><a href="./dictionnary/pondo.html">ポンド</a></span>
<br>
<span class="full_screen"><a href="./dictionnary/nihon.html"><ruby>日<rt>に</rt></ruby><ruby>本<rt>ほん</rt></ruby></a></span>
<br>
</body>
